* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
   
  }

  nav {
    background-color: #2e3f4b;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
        grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
            column-gap: 10%;
    padding: 1% 5%;
  }
  
  nav .array-inputs {
    float: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;

  }

  .a_inp{
    margin-top: 16%;
   
  }
  
   #a_size, #a_sz, #a_speed, #a_sp {
    display: inline-block;
    width: 49%;
  }
  #a_sz, #a_sp{
    font-size: 87%;

  }
  
  
  #a_generate {
    background-color: rgb(228, 115, 74);
    border: 2px solid rgb(206, 137, 137);
    outline: none;
    font-size: 80%;
    width: 100%;
    color: rgb(238, 225, 225);
    padding: 7px 20px;
    border-radius: 10px;
  }
  
  #a_generate:hover {
    cursor: pointer;
    background-color: rgb(95, 95, 160);
  }
  
  nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  nav .header_right .nav-heading {
    display: inline-block;
    font-size: xxx-large;
    padding: 3% 0%;
  }
  
  nav .header_right .algos {
   
    display: grid;
        grid-template-columns: repeat(6, 16.66667%);
    place-content: center;
    padding: 2% 0%;
  }
  
  nav .header_right .algos button {
    background-color: white;
    border: 2 px solid red;
    border-radius: 10px;
    color: black;
    outline: none;text-align: center;
    padding: 5% 5%;
    margin: 4px;
    font-size: 1.2vw;
  }
  
  nav .header_right .algos button:hover {
    background-color: grey;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_selected {
    background-color: white;
    color: green;
  }
  
  nav .header_right .algos .butt_selected:hover {
    background-color: white;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_unselected:hover {
    background-color: blue;
    cursor: pointer;
  }
  
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  
  section #Info_Cont1 {
    padding: 20%;
  }
  
  section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
  }
  
  section #Info_Cont2 {
    padding: 20%;
  }
  
  .hide {
    display: none;
  }
 
  
/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

